body {
    margin: 0;
    padding: 0;
  }


.mainblock {box-sizing: border-box;max-width: 1920px;
height: 700px;
background-color: #EEEFF1;}


.navigation {box-sizing: border-box;
    display: flex;
gap: 20px;
max-width: 565px;
}

.navigation a{
    font-size: 16px;
    clear: both;
    text-decoration: none;
    margin-top: 80px;
    padding-right: 80px;
    
}

.margin {
  margin-left: 20.84vw;
font-family: Roboto;}

.maintext {margin-top: 162px;
    font-size: 48px;
font-family: Roboto;

}


.title {
    font-size: 16px;
width: 540px;
height: 67px;
font-family: Roboto;
}

button { border: none;
    outline: none;
    background: none;
  color: #ececec;
}


.button { border: none;
    outline: none;
    background: none;
width: 225px;
height: 65px;
background-color: #34547A;
display: flex;
justify-content: center;
align-items: center;
margin: 50px;
}


.boardaboutme {box-sizing: border-box;
   
    width: 100%;
    height: 300px;
    background-color: #ececec ;
}

.textet {display: flex;
    justify-content: center;
font-size: 32px;
font-family: Roboto;
}


.textpagetwo {
    font-size: 16px;
width: 540px;
font-family: Roboto;
padding: 0 auto;
line-height: 1.6;
}


.position {display: flex;
justify-content: center;

}

.backgroundblu{
    height: 250px;
background-color: #34547A;
}


.maincon {display: flex;
 flex-wrap: wrap;
 justify-content: center;
 align-items: center;
 padding-top: 100px;
 gap: 45px;}

    .png {
         display: flex;
         align-items: center;
         justify-content: center;
         align-items: center;
         gap: 3px;
         
        }

        .png img{
            max-width: 50px;
        max-height: 50px;
    }

.pngtext {display: flex;
flex-direction: column;
justify-content: center;
font-family: Roboto;}

.pngtext p {
    margin: 0;
    color: #FFFFFF;}


    .lastimgcon {max-height: 1004px;
      height: 100%;
    background-color: #EEEFF1;
    text-align: center;
display: flex;
justify-content: center;
}

   .lastimgcon h2{
    margin-top: 100px;
    font-size: 32px; 
    font-family: Roboto;
    
} 

.HowIWork {display: flex;
    flex-direction: column;
    align-items: center;
   
   
}




    .smoll p{margin: 0 auto;
        max-height: 67px;
        font-size: 16px;
        max-width: 540px;
        width: 100%;
        font-family: Roboto;
        
    }

.backgraund {

width: 1100px;
height: 600px;
background-image: url(/7cecf9b2aa89d7246db40c5549f821b838c3d622.jpg);
 background-repeat: no-repeat;        
    background-size: contain; 
    margin-top: 57px;


   
}


.play {max-width: 100px;
max-height: 100px;
margin-top: 10vw;}






.end {
    display: flex;
    flex-direction: column;   
    justify-content: center;
    height: 151px;
    background-color: #34547A;
}

.end h3 {
    margin: 0 0 20px 0; 
    font-size: 19px;
    margin-left: 409px ;
    
}

.end p {
    margin: 0; 
    font-size: 13px;
      margin-left: 409px ;
}

@media (min-width: 200px) (max-width: 490px) { 
    body {
    margin: 0;
    padding: 0;
  }
}




@media (max-width:480px) {
.styletext {text-align: center;
margin: auto;
}
}



@media (max-width:480px) {
    body {margin: 0%;
    padding: 0%;
}
    }


@media (max-width:480px) {
    .boardaboutme ,.mainblock ,.backgroundblu ,.lastimgcon ,.backgraund
    {width: 100vw; 
    text-align: center; }
    }

    
@media (max-width:480px) {
 .margin {margin: auto;
}   
}

@media (max-width:480px) {
.navigation{flex-direction: column ;
    justify-content: center; 

}
}

@media (max-width:480px) {
.navigation a{font-size: 70% ;
    margin: 1%; 
    margin-right: 30vw; 
}
}
@media (max-width:480px) {
.style {margin-right: 0%;
margin: 0% auto;}
}


@media (max-width:480px) {
.ptext {margin-bottom: 40vw;
    height: auto;
margin: 0% auto;}
}


@media (max-width:480px) {
.button{width: 40vw;
height: 15vw;
margin-left: 100px;}
}


@media (max-width:480px) {
.maintext{font-size: 5vw;
    margin-right: 20%;
    
}
}



@media (max-width:480px) {
.title{font-size: 3vw;
    width: 300p;
    max-width: 80vw;
    height: auto;
    
}
}


@media (max-width:480px) {
.textet {font-size: 5vw;}
}



@media (max-width:480px) {
.textpagetwo {font-size: 3vw;
max-width: 80vw;
width: 300px;
line-height: 1.2;}
}



@media (max-width:480px){
.backgroundblu {height: 150px;}
}




@media (max-width:480px){
.maincon  {
    font-size: 1%;
margin: 0vw;
padding: 2%;
}
}




@media (max-width:480px) {
.png {font-size: 2vw;
max-width: 50%;}
}



@media (max-width:480px) {
.png img ,.pngtext p{display: flex;
    max-width: 30px;
    max-height: 30px;
    flex-direction: column;
    margin: 0 auto;
}
}

@media (max-width:480px) {
.HowIWork {font-size: 5vw;}
}

@media (max-width:480px) {
.HowIWork h2{margin-top: 20%;
    font-size: 5vw;}
}




@media (max-width:480px) {
.smoll p{
    font-size: 3vw;
max-width: 80vw;}
}


@media (max-width:480px) {
.backgraund img{ width: 50px;
height: 50px;
margin-top: 13vw;

}
}


@media (max-width:480px) {
.backgraund { width: 90vw;
height: 80vw;
margin-top: 20%;
}
}

@media (max-width:480px) {
.lastimgcon {height: 500px;}
}


@media (max-width:480px) {
.end h3{font-size: 3vw;
margin-left: 0;
text-align: center;
}
}


@media (max-width:480px) {
.end p{font-size: 3vw;
margin-left: 0;
text-align: center;
}
}





    @media (min-width: 481px) (max-width: 1200px)  {

  body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    
  }

  .boardaboutme,
  .mainblock,
  .backgroundblu,
  .lastimgcon,
  .backgraund {
    width: 100vw;
    text-align: center;
   
  }

  .navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .navigation a {
    font-size: 15px;
    margin: 0;
  }

  .margin {
    margin: 0 auto;
    text-align: center;
  }

  .maintext {
    font-size: 32px;
    margin-top: 80px;
  }

  .title {
    font-size: 16px;
    width: auto;
    max-width: 80vw;
    height: auto;
    line-height: 1.3;
    margin: 20px auto;
  }

  .button {
    width: 220px;
    height: auto;
    padding: 18px;
    margin: 20px auto;
  }

  .textet {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .textpagetwo {
    font-size: 16px;
    width: auto;
    max-width: 80vw;
    height: auto;
    line-height: 1.3;
    margin: 0 auto;
  }

  .backgroundblu {
    height: auto;
    padding: 40px 0;
  }

  .maincon {
    padding: 40px;
    gap: 30px;
  }

  .png {
    font-size: 14px;
    gap: 10px;
  }

  .png img {
    width: 40px;
    height: 40px;
  }

  .pngtext p {
    margin: 0;
  }

  .HowIWork h2 {
    font-size: 28px;
    margin-top: 40px;
  }

  .smoll p {
    font-size: 16px;
    max-width: 80vw;
    height: auto;
    line-height: 1.3;
    margin: 20px auto;
  }


  .backgraund {
    width: 85vw;
    height: 45vw;
    margin: 40px auto;
    background-size: cover;
  }
  

  .play {
    width: 80px;
    height: 80px;
    margin-top: 20vw;
  }


  .end {
    height: auto;
    padding: 30px 0;
    text-align: center;
  }

  .end h3 {
    font-size: 18px;
    margin: 0 0 10px 0;
  }

  .end p {
    font-size: 14px;
    margin: 0;
  }

  p, h1, h2, h3 {
    margin: 0;
    line-height: 1.3;
  }
 }


@media (min-width: 481px) and (max-width: 1000px)  {
   body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
}

  .boardaboutme,
  .mainblock,
  .backgroundblu,
  .lastimgcon,
  .backgraund {
    width: 100vw;
    text-align: center;
}

  .navigation {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  .navigation a {
    font-size: 15px;
    margin: 10px;
    padding: 0%;
  }

  .margin {
    margin: 0 auto;
    text-align: center;
  }

  .maintext {
    font-size: 32px;
    margin-top: 80px;
  }

  .title {
    font-size: 16px;
    width: auto;
    max-width: 80vw;
    height: auto;
    line-height: 1.3;
    margin: 20px auto;
  }

  .button {
    width: 220px;
    height: auto;
    padding: 18px;
    margin: 20px auto;
  }

  .textet {
    font-size: 17px;
    margin-bottom: 10px;
  }

  .textpagetwo {
    font-size: 15px;
    width: auto;
    max-width: 80vw;
    height: auto;
    line-height: 1.3;
    margin: 0 auto;
  }

  .backgroundblu {
    height: auto;
    padding: 40px 0;
  }

  .maincon {
    padding: 40px;
    gap: 30px;
  }

  .png {
    font-size: 14px;
    gap: 10px;
  }

  .png img {
    width: 40px;
    height: 40px;
  }

  .pngtext p {
    margin: 0;
  }

  .HowIWork h2 {
    font-size: 28px;
    margin-top: 40px;
  }

  .smoll p {
    font-size: 16px;
    max-width: 80vw;
    height: auto;
    line-height: 1.3;
    margin: 20px auto;
  }


  .backgraund {
    width: 85vw;
    height: 45vw;
    margin: 40px auto;
    background-size: cover;
  }
  

  .play {
    width: 80px;
    height: 80px;
    margin-top: 20vw;
  }


  .end {
    height: auto;
    padding: 30px 0;
    text-align: center;
  }

  .end h3 {
    font-size: 18px;
    margin: 0 0 10px 0;
  }

  .end p {
    font-size: 14px;
    margin: 0;
  }

  p, h1, h2, h3 {
    margin: 0;
    line-height: 1.3;
  }

 
    }